<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="input-group buscador-principal">
        <input name="search_param" value="all" id="search_param" type="hidden">
        <input class="form-control" name="x" placeholder="Search for?" type="text" [(ngModel)]="search">
        <span class="input-group-btn">
							<button class="btn btn-primary" type="button" (click)="onSearch()"><span class="glyphicon glyphicon-search"></span></button>
						</span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="well">
      <h1 class="text-center"></h1>
      <div class="list-group" *ngFor="let product of products" >
        <a href="#" class="list-group-item">
          <div class="media col-md-3">
            <figure class="pull-left">
              <div *ngIf="product?.pictures">
                <img class="media-object img-rounded img-responsive"  [src]="serverPath()+product?.pictures" [alt] = "product?.pictures" >
              </div>
            </figure>
          </div>
          <div class="col-md-6">
            <h4 class="list-group-item-heading">{{product.name}}</h4>
            <p class="list-group-item-text"> {{product?.description}}
            </p>
          </div>
          <div class="col-md-3 text-center">
            <h2> {{product?.price | currency:'USD':true}} <small>  </small></h2>
            <button type="button" class="btn btn-default btn-lg btn-block" (click)="showDetail(product)"  > view </button>
            <div class="stars">
              <span [class]="rating(product,2)"></span>
              <span [class]="rating(product,4)"></span>
              <span [class]="rating(product,6)"></span>
              <span [class]="rating(product,8)"></span>
              <span [class]="rating(product,10)"></span>
            </div>
            <p> Rating {{product?.rating | number : '1.1-1' }} <small> / </small> 10 </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
